.watcher-top {
}

.watcher-left {
  width: 50%;
  float: left;
  display: inline-block;
}

.watcher-right {
  width: 50%;
  float: left;
  display: inline-block;
}

.watcher-bottom {
}

.watcher-middle {
}